appdirs==1.4.4
attrs==20.1.0
distlib==0.3.1
filelock==3.0.12
iniconfig==1.0.1
more-itertools==8.4.0
packaging==20.4
pip==20.2.2
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==6.0.1
setuptools==49.6.0
six==1.15.0
toml==0.10.1
tox==3.19.0
virtualenv==20.0.31
wheel==0.35.1
